<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>782184188087-5frunmvupsf94s4nsln832fqrgnge1aj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.782184188087-5frunmvupsf94s4nsln832fqrgnge1aj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>782184188087-bodtfmeo4crodkj5omv5i6p9d75ffn6b.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAk8wpfmq1MF-r5QManDqhdbKGDEQp-Pj4</string>
	<key>GCM_SENDER_ID</key>
	<string>782184188087</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.icare.tempapp</string>
	<key>PROJECT_ID</key>
	<string>tempapp-66b71</string>
	<key>STORAGE_BUCKET</key>
	<string>tempapp-66b71.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:782184188087:ios:df21b77a62c3f2a7fa2532</string>
	<key>DATABASE_URL</key>
	<string>https://tempapp-66b71.firebaseio.com</string>
</dict>
</plist>